/*Stylesheet for Philip M. Haynes Portfolio Site
 *Designed and Implemented by William J. Haynes
 *12/05/16
 *This CSS script works to update the about, contact and portfolio pages with specific updates
 */

/*~~~~~~~~~~~~~~~Overwritten CSS rules~~~~~~~~~~~~~*/

#mainContainer{
    width: 400px;
    height: 285px;

    /*padding: 40px;*/
    /*background-color: aqua;*/
    /*Deals with positioning element in centre*/
    position: absolute;
    top: 150px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*END OF POSITIONING ELEMENT IN CENTRE*/
    /*background-color: aqua;*/
    /*border: solid black 3px;*/
}

#mainNavigationControlBar{
    padding-top: 1px;

}


/*~~~~~~~~~~~~~~About Page~~~~~~~~~~~~~~~~~*/

#aboutPMH{
    margin-top: 0px;
    font-family: 'Playfair Display';
    text-align: justify;
    font-size: 140%;
    text-shadow: 1px 1px white;
    padding-left: 10px;
    padding-right: 10px;

    border: solid black 3px;
    background-color: cornsilk;
    border-radius: 5px;

    visibility: hidden;
    height: 562px;
}

/*~~~~~~~~~~~~~~~Portfolio Page~~~~~~~~~~~~~~~~~~*/

#playerBorderBox{
    position:absolute;
    top: 200px;
    border: solid black 3px;
    background-color: black;
    border-radius: 5px;
}

#player{
    padding-left: 0px;
    width: 394px;
}



/*~~~~~~composition item bounding box~~~~~~~~*/
#compositionItemContainer {
    position: relative;
    top: 300px;
    height: 300px;
    width: 396px;

}




/*~~~~~~~LOL Controls~~~~~~~~~*/
#LOLvideos{
    width: 396px;
    height: 70px;

    margin-top: 30px;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 180%;
    text-shadow: 1px 1px white;

    border: solid black 3px;
    background-color: cornsilk;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

#listOfLOLVideos{
    position: relative;
    text-align: center;
    margin-bottom: 3px;
}


#titleLOL{
    margin-top: 10px;
    text-align: center;
    width: 360px;
    padding-left: 15px;
}

/*~~~~~~~AS Controls~~~~~~~~~*/
#ASvideos{
    width: 396px;
    height: 70px;

    margin-top: 5px;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 180%;
    text-shadow: 1px 1px white;

    border: solid black 3px;
    background-color: cornsilk;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

#titleASLevel{
    margin-top: 10px;
    text-align: center;
    width: 360px;
    padding-left: 15px;
}

/*~~~~~~~A Controls~~~~~~~~~*/

#Avideos{
    width: 396px;
    height: 70px;

    margin-top: 5px;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 180%;
    text-shadow: 1px 1px white;

    border: solid black 3px;
    background-color: cornsilk;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

#titleALevel{
    margin-top: 10px;
    text-align: center;
    width: 360px;
    padding-left: 15px;
}


/*~~~~~~~Composition/Performance toggle~~~~~~*/
#portfolioToggle{
    position: absolute;
    top: 445px;

    padding-top: 20px;
    margin-left: 40px;
    width: 320px;
    text-align: justify;
    -ms-text-justify: distribute;
    text-justify: distribute;
    /*background-color: aqua;*/
    font-family: 'Playfair Display';
    font-size: 120%;
    font-weight: bold;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Contact Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#contactPMH{
    margin-top: 0px;
    font-family: 'Playfair Display';
    text-align: justify;

    text-shadow: 1px 1px white;
    padding-left: 10px;
    padding-right: 10px;

    border: solid black 3px;
    background-color: cornsilk;
    border-radius: 5px;


    height: 412px;
}



#emailIcon{
    position: absolute;
    top: 350px;
    left: 150px;
}

#clientEmailAddress{
    position: absolute;
    top: 255px;
    right: 0px;
    width: 270px;

}

#phoneIcon{
    position: absolute;
    top: 320px;
    left: 20px;
}

#clientPhoneNumber{
    position: absolute;
    top: 345px;
    right: 0px;
    width: 270px;
}

#writtenAddress{
    text-align: center;
    font-size: 120%;
}

#CopyrightNotice{
    text-align: center;
    padding-top: 3px;
}

/*~~~~~~~~~~???????????????????~~~~~~~~~~~~~~~~~~~~~~~*/

#clientName{
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 15px;
    border: solid black 3px;
    background-color: cornsilk;
    border-radius: 5px;
}

#clientRole{
    padding-top: 12px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
    font-size: 180%;
    text-shadow: 1px 1px white;
}

/*Selector for individual videos*/

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
    padding: 5px;
    margin: 0px;
}

li:hover{
    cursor: pointer;
    cursor: hand;
    background-color: burlywood;
}

/*Control for + - on portfolio page style*/
h3:hover{
    cursor: cell;
    cursor: hand;
}


@media only screen and (max-device-width: 780px){
    body{
        background-size: 2880px, 1920px;
        width: 100vm;
        height: 100vm;
        min-width: 480px;
        min-height: 960px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #mainContainer{
        width: 400px;
        height: 285px;
        /*padding: 40px;*/
        /*background-color: aqua;*/
        /*Deals with positioning element in centre*/
        position: absolute;
        top: 400px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        /*END OF POSITIONING ELEMENT IN CENTRE*/
        /*background-color: aqua;*/
        /*border: solid black 3px;*/

    }
}
